<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="gmail test for salesloft">
    <meta name="author" content="ross wakefield">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Gmail | Ross</title>

    <link href="/scss/style.css" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
    <script src="/js/app.js"></script>

</head>
<body>
   <div class="modal_back hide"></div>
    <div id="app">
     <div class="top">
         <h1 class="gfont"><span id="r" class="blue">R</span><span id="o" class="red">o</span><span id="s1" class="yellow">s</span><span id="s2" class="blue">s</span><span id="g" class="green">g</span><span id="l" class="red" >l</span><span id="e" class="yellow">e</span></h1>
         <input id="messageSearch" placeholder="Search Messages" v-model="emailSearch" />
         <div id="toggleView">
             <div id="gridView" class="view_btn">
                <div class="gridBox"></div>
                <div class="gridBox"></div>
                <div class="gridBox"></div>
                <div class="gridBox"></div>
             </div>
             <div id="listView" class="view_btn active">
                <div class="listLine"></div>
                <div class="listLine"></div>
                <div class="listLine"></div>
             </div>
         </div>
     </div>
      <div class="header">
        <h1>{{title}}</h1>
      </div>
      <div class="content">
          <div class="tabs">
              <ul>
                  <li v-on:click="showAll()">All</li>
                  <li v-on:click="tagFilter('work')">Work</li>
                  <li v-on:click="tagFilter('travel')">Travel</li>
              </ul>
              <hr>
              <p>Bulk Actions</p>
              <button id="markRead" class="action_btn">Mark Read</button>
              <button id="delete" class="action_btn">Delete</button>
              <button id="starred" class="action_btn">Star</button>
          </div>
         <ul class="messages listmessages">
            <li class="message" v-for="(item, index) in filteredEmails" v-bind:id="item.id">
              <h3 class="launch">{{item.subject}}</h3>
              <h4>Sender:  {{item.sender}}</h4>
              <p class="body">{{item.body}}</p>
              <p class="tags">Tags:  {{item.tags}}</p>
              <p>Date:  {{item.date}}</p>
              <input type="checkbox" class="checkbox"/>
              <button v-on:click="deleteEvent(index)" class="remove_btn">Delete</button>
              <div class="modal hide">
                  <h2>Message</h2>
                  <h3 class="launch">{{item.subject}}</h3>
                  <h4>Sender:  {{item.sender}}</h4>
                  <p>{{item.body}}</p>
              </div>
            </li>
          </ul>
      </div>
    </div>
</body>
</html>
